In [1]:
import pandas as pd
import sqlite3

In [2]:
import sqlite3

# Create a SQL connection to our SQLite database
con = sqlite3.connect("../data/dev_mobile_games.db")

cur = con.cursor()

t = cur.execute("SELECT * FROM sqlite_master WHERE type='table'")

t.fetchall()

[('table',
  'mobile_price_rante',
  'mobile_price_rante',
  2,
  'CREATE TABLE mobile_price_rante(\n  "index" INT,\n  battery_power INT,\n  blue INT,\n  clock_speed REAL,\n  dual_sim INT,\n  fc INT,\n  four_g INT,\n  int_memory INT,\n  m_dep REAL,\n  mobile_wt INT,\n  n_cores INT,\n  pc INT,\n  px_height INT,\n  px_width INT,\n  ram INT,\n  sc_h INT,\n  sc_w INT,\n  talk_time INT,\n  three_g INT,\n  touch_screen INT,\n  wifi INT,\n  price_range REAL\n)'),
 ('table',
  'price_range_for_specs',
  'price_range_for_specs',
  4,
  'CREATE TABLE price_range_for_specs(\n  price_range REAL,\n  avg_ram,\n  avg_clock_speed,\n  avg_int_memory,\n  avg_n_cores,\n  avg_px_height,\n  avg_px_width\n)'),
 ('table',
  'px_range_by_price',
  'px_range_by_price',
  63,
  'CREATE TABLE px_range_by_price(\n  price_range REAL,\n  px_height INT,\n  px_width INT\n)'),
 ('table',
  'ram_by_price',
  'ram_by_price',
  49,
  'CREATE TABLE ram_by_price(\n  "index" INT,\n  ram_per_price,\n  price_range REAL,\n  ram INT\n)'),
 ('table',
  'best_specs_for_price',
  'best_specs_for_price',
  62,
  'CREATE TABLE best_specs_for_price(\n  "index" INT,\n  price_range REAL,\n  ram INT,\n  clock_speed REAL,\n  int_memory INT,\n  n_cores INT,\n  px_height INT,\n  px_width INT\n)')]

In [5]:
df = pd.read_sql("SELECT * FROM px_range_by_price", con=con)

In [6]:
df

     price_range  px_height  px_width
0            0.0        238      1893
1            0.0        398      1133
2            0.0        641       704
3            0.0        366      1234
4            0.0        251      1801
..           ...        ...       ...
995          3.0       1789      1972
996          3.0       1899      1904
997          3.0       1874      1976
998          3.0       1895      1976
999          3.0       1949      1994

[1000 rows x 3 columns]

In [3]:
df = pd.read_sql(sql='SELECT "index" FROM mobile_price_rante',con=con)

KeyError: 'price_range'

In [5]:
df.value_counts('id')

KeyError: 'id'