In [3]:
import pandas as pd
import sqlite3

In [4]:
import sqlite3

# Create a SQL connection to our SQLite database
con = sqlite3.connect("../data/main_mobile_games.db")

cur = con.cursor()

t = cur.execute("SELECT * FROM sqlite_master WHERE type='table'")

t.fetchall()

[('table',
  'mobile_price_rante',
  'mobile_price_rante',
  2,
  'CREATE TABLE mobile_price_rante(\n  "index" INT,\n  battery_power INT,\n  blue INT,\n  clock_speed REAL,\n  dual_sim INT,\n  fc INT,\n  four_g INT,\n  int_memory INT,\n  m_dep REAL,\n  mobile_wt INT,\n  n_cores INT,\n  pc INT,\n  px_height INT,\n  px_width INT,\n  ram INT,\n  sc_h INT,\n  sc_w INT,\n  talk_time INT,\n  three_g INT,\n  touch_screen INT,\n  wifi INT,\n  price_range REAL,\n  id REAL\n)'),
 ('table',
  'price_range_for_specs',
  'price_range_for_specs',
  4,
  'CREATE TABLE price_range_for_specs(\n  dual_sim INT,\n  avg_ram,\n  avg_clock_speed,\n  avg_int_memory,\n  avg_n_cores,\n  avg_px_height,\n  avg_px_width\n)'),
 ('table',
  'ram_by_price',
  'ram_by_price',
  12,
  'CREATE TABLE ram_by_price(\n  id REAL,\n  ram_per_price,\n  price_range REAL,\n  ram INT\n)'),
 ('table',
  'best_mobile_for_price',
  'best_mobile_for_price',
  27,
  'CREATE TABLE best_mobile_for_price(\n  id REAL,\n  price_range REAL,\n  ram INT,\n  clock_speed REAL,\n  int_memory INT,\n  n_cores INT,\n  px_height INT,\n  px_width INT\n)')]

In [9]:
df = pd.read_sql(sql="SELECT * FROM best_mobile_for_price",con=con)

In [10]:
df.value_counts('price_range')

    price_range   ram  clock_speed  int_memory  n_cores  px_height  px_width
6           2.0  2107          2.6          41        8       1112      1666
64          2.0  2256          2.5          44        8       1364      1851
63          2.0  2256          2.5          44        8       1364      1851
8           2.0  2311          2.7          44        7       1273      1754
7           2.0  2311          2.7          44        7       1273      1754
..          ...   ...          ...         ...      ...        ...       ...
25          3.0  3872          2.0          64        8       1795      1958
18          3.0  3890          2.8          44        6       1486      1797
17          3.0  3890          2.8          44        6       1486      1797
30          3.0  3998          1.6          39        8        815      1666
29          3.0  3998          1.6          39        8        815      1666

[69 rows x 7 columns]